{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_modify %}
{% load admin_urls %}
    
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url admin:index %}">{% trans 'Home' %}</a>
&rsaquo; <a href="../..">Geoforms</a>
&rsaquo; <a href="..">element list</a>
&rsaquo; {% trans "Create element" %}
</div>
{% endblock %}

{% block content %}
<form action="." method="post">
    {% if object_id %}
    <input type="hidden" value="{{ object_id }}" name="id" />
    {% endif %}

    {% csrf_token %}
    {{ form.as_p }}
    {% if formset %}
    <table>
        <tbody>
            {% for form in formset.forms %}
    	    <tr id="{{ form.prefix }}-row" class="dynamic-form">
                <td>
                    {{ form.as_p }}
                    <a id="remove-{{ form.prefix }}-row" href="javascript:void(0)" class="delete-row">{% trans 'remove' %}</a>
                </td>
            </tr>
    	    {% endfor %}
            <tr>
    	        <td colspan="4"><a href="javascript:void(0)" class="add-row">{% trans 'add' %}</a></td>
    	    </tr>
        </tbody>
    </table>
    
    {{ formset.management_form }}
    {% endif %}
    <input type="submit" value="{% trans 'Save' %}" />
</form>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
}

function addForm(btn, prefix) {
    var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    var row = $('.dynamic-form:first').clone(true).get(0);
    $(row).removeAttr('id').insertAfter($('.dynamic-form:last')).children('.hidden').removeClass('hidden');
    $(row).children().children().children().each(function() {
        updateElementIndex(this, prefix, formCount);
        $(this).val('');
    });
    $(row).children().children().children().children().each(function() {
        updateElementIndex(this, prefix, formCount);
        $(this).val('');
    });
    $(row).find('.delete-row').click(function() {
        deleteForm(this, prefix);
    });
    $('#id_' + prefix + '-TOTAL_FORMS').val(formCount + 1);
    return false;
}

function deleteForm(btn, prefix) {
    $(btn).parents('.dynamic-form').remove();
    var forms = $('.dynamic-form');
    $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
    for (var i=0, formCount=forms.length; i<formCount; i++) {
        console.log($(forms.get(i)));
        $(forms.get(i)).children().not(':last').children().each(function() {
            updateElementIndex(this, prefix, i);
        });
    }
    return false;
}


$('.add-row').click(function() {
    return addForm(this, 'form');
});
$('.delete-row').click(function() {
    return deleteForm(this, 'form');
});
</script>
{% endblock %}