#popups {
    display: none;
}
.form_element {
    text-align: center;
    width: 100%;
}
.form_element p {
    text-align: left;
    min-height: 1em;
    margin-bottom: 0;
}
button.drawbutton {
    width: 80%;
    min-width: 250px;
    max-width: 300px;
    margin: 2px;
}
button.drawbutton span {
    vertical-align: middle;
}
button.drawbutton img {
    width: 34px;
    height: 34px;
    float: right;
}

.lt-ie9 button.drawbutton img {
    display: none;
    visibility: hidden;
}

button.drawbutton.first {
    width: 49%;
    float: left;
}
button.drawbutton.second {
    width: 49%;
    float: right;
}
/* previous and next buttons */
.prev_next_controls {
}
.prev_next_controls a {
    display: inline-block;
    text-decoration: none;
    text-transform: lowercase;
    padding: 9px;
    border-radius: 4px;
    box-shadow: 0 0 3px 3px #DAD5D5;
}
.prev_next_controls a.next {
    color: white;
    margin: 5px 5px 5px 30px;
}
.prev_next_controls a.previous {
    margin: 5px 30px 5px 5px;
}

.form_element input {
    max-width: 250px;
}
.form_element label {
    display: block;
    margin: 0.1em;
    text-align: left;
}
.form_element .ui-accordion p {
    padding: 0;
}
.left_align {
    text-align: left;
}

/* HTML% fallbasck widgets*/
.form_element .slider {
    display: inline-block;
    width: 250px;
    margin-left: 1em;
    margin-right: 1em;
}

/* jquery ui accordion modified */
/*hide as default*/
#forms h3, #forms h3 + div {
    visibility: hidden;
}
#forms h3.ui-state-active, #forms h3.ui-state-active + div {
    visibility: visible;    
}
#content h3.ui-state-default {
    display: none;
}
#content h3.ui-state-active {
    display: block;
    padding-left: 42px;
    text-transform: uppercase;
    font-size: 1.1em;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 200;
}
#content .ui-accordion-content {
    padding-left: 42px;
    max-width: 1024px;
}

/* big content*/
.span_left.bigcontent {
    width: 100%;
}
.span_right.bigcontent {
    left: auto;
}
/* the animation does not work well with bg color*/
.lt-ie9 .span_right.bigcontent {
    background-color: inherit;
}

/* element styling */

/* tables */
.form_element table {
    table-layout: fixed;
}
.form_element table tr td {
    padding: 0.4em;
    border-top: 1px solid #DDD;
    vertical-align: middle;
}
.form_element table tr td:nth-child(1) {
    text-align: left;
}
.form_element table tbody tr:nth-child(odd) {
    background-color: #F9F9F9;
}

/* checkboxes and radiobuttons */
.form_element label {
    margin-left: 50px;
}

/* sliders in popups */
.popupform .form_element .slider {
    width: 70px;
}

.popupform .rangetext {
    font-size: 0.9em;
    width: 160px;
}

.popupform .shortslider {
    width: auto;
}

/*
phones
*/
@media (max-width:480px) {
    #content h3.ui-state-active {
        padding-left: 10px;
    }
    #content .ui-accordion-content {
        padding-left: 10px;
    }
}