/* Legacy styles for range elements, to be removed */
.rangetext {
    width: 250px;
    display: inline-block;
    text-align: left;
}
.popupform .rangetext {
    font-size: 0.9em;
    width: 160px;
}
/* legacy ends */

#wms-layerswitcher-container {
    position: absolute;
    top: 20px;
    left: 50px;
    z-index: 2000;
    background: white;
    border: 1px solid;
    padding: 5px 5px 5px 5px;
    margin: 2px 0 0 0;
}
.wms-layerswitcher {
    padding: 0;
    list-style: none;
    margin: 5px 0 0 0;
}
.wms-layerswitcher input {
    margin-right: 5px;
}

/* range elements in non-popup forms*/
.range-container {
    text-align: left;
    width: 75%;
}
.range-container p {
    font-weight: bold !important;
}
.range-container span {
    width: 27%;
    display: inline-block;
}
.range-container input {
    width: 250px;
    margin: 20px;
}
.range-min-label {
    text-align: right;
}
.range-max-label {
    text-align: left;
}
/* end range elements in non-popup forms */
/* range elements in popup forms */
.popupform .range-container {
    background: #E4F5F5;
}
.popupform .range-container span {
    width: 100%;
    display: block;
    text-align: left;
}
.popupform .range-container input {
    width: 80%;
    display: block;
}
.popupform .slider {
    width: 80% !important;
}
.popupform .range-max-label {
    width: 60% !important;
    text-align: right !important;
    padding-left: 40%; !important;
}
.popupform .range-min-label {
    width: 60% !important;
    text-align: left !important;
    padding-right: 40%; !important;
}

.popupform {
    height: inherit;
    overflow: auto;
    min-width: 200px;
}

.lt-ie9 .popupform .padding {
    height: 30px;
}

.popup_feature_buttons {
    background-color: #FFFFFF;
    bottom: 0;
    padding-top: 5px;
    position: absolute;
    width: 90%;
    z-index: 3
}

.lt-ie9 .popup_feature_buttons {
    bottom: 5px;
}
/* end elements in popup forms */

#popups {
    display: none;
}
.form_element li {
    text-align: left;
}
.form_element {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}
.form_element.last {
    /*margin-bottom: 30px;*/
}
.form_element p {
    text-align: left;
    min-height: 1em;
    margin-bottom: 0;
    padding-left: 0px !important;
}
button.drawbutton {
    width: 80%;
    min-width: 250px;
    max-width: 300px;
    margin: 2px;
}
button.drawbutton span {
    vertical-align: middle;
}
button.drawbutton img {
    width: 34px;
    height: 34px;
    float: right;
}

.lt-ie9 button.drawbutton img {
    display: none;
    visibility: hidden;
}

button.drawbutton.first {
    width: 49%;
    float: left;
}
button.drawbutton.second {
    width: 49%;
    float: right;
}
/* previous and next buttons */
.prev_next_controls {
}
.prev_next_controls a {
    display: inline-block;
    text-decoration: none;
    text-transform: lowercase;
    padding: 9px;
    border-radius: 4px;
    box-shadow: 0 0 3px 3px #DAD5D5;
}
.prev_next_controls a.next {
    color: white;
    margin: 5px 5px 5px 30px;
}
.prev_next_controls a.previous {
    margin: 5px 30px 5px 5px;
}

.form_element input[type="text"] {
    max-width: 170px;
}
.form_element input[type="number"] {
    max-width: 80px;
}
.form_element textarea {
    max-width: 250px;
    max-height: 80px;
}
.form_element label {
    display: block;
    margin: 0.1em;
    text-align: left;
    max-width: 300px;
}
.form_element .ui-accordion p {
    padding: 0;
}
.left_align {
    text-align: left;
}

/* HTML% fallbasck widgets*/
.form_element .slider {
    display: inline-block;
    width: 250px;
    margin-left: 1em;
    margin-right: 1em;
}

/* jquery ui accordion modified */
/*hide as default*/
#forms h3, #forms h3 + div {
    visibility: hidden;
}
#forms h3.ui-state-active, #forms h3.ui-state-active + div {
    visibility: visible;
}
#content h3.ui-state-default {
    display: none;
}
#content h3.ui-state-active {
    display: block;
    padding-left: 42px;
    text-transform: uppercase;
    font-size: 1.1em;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 200;
}
#content .ui-accordion-content {
    padding-left: 42px;
    max-width: 1024px;
}

/* big content*/
.span_left.bigcontent {
    width: 100%;
}
.span_right.bigcontent {
    left: auto;
}
/* the animation does not work well with bg color*/
.lt-ie9 .span_right.bigcontent {
    background-color: inherit;
}

/* element styling */

/* tables */
.form_element table {
    table-layout: fixed;
}
.form_element table tr td {
    padding: 0.4em;
    border-top: 1px solid #DDD;
    vertical-align: middle;
}
.form_element table tr td:nth-child(1) {
    text-align: left;
}
.form_element table tbody tr:nth-child(odd) {
    background-color: #F9F9F9;
}



/*
phones
*/
@media (max-width:480px) {
    #content h3.ui-state-active {
        padding-left: 10px;
    }
    #content .ui-accordion-content {
        padding-left: 10px;
    }
}
@media (max-width:900px) {
    .range-container {
        background: #E4F5F5;
    }
.range-container span {
    width: 100%;
    display: block;
    text-align: left;
}
.range-container input {
    width: 80%;
    display: block;
}
.slider {
    width: 80% !important;
}
.range-max-label {
    width: 60% !important;
    text-align: right !important;
    padding-left: 40%; !important;
}
.range-min-label {
    width: 60% !important;
    text-align: left !important;
    padding-right: 40%; !important;
}

}

/*feedback styles*/
.feature_comments {
    position: absolute;
    z-index: 9999;
    width:  330px;
    right: 20px;
    padding: 0;
    background-color: #555555;
    color: white;
    padding: 1em;
    border-color: #444444;
    border: 1px solid #EEEEEE;
    border-radius: 13px;
    position: absolute;
    top: 0;
}

.feature_comments .feature-name {
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
}
.feature_comments .feature-attribute-name {
    color: white;
}
.feature_comments ul {
    padding: 0 0 0 40px;
    margin: 1em 0;
}
