{% extends "questionnaire.html" %}
{% load i18n %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/questionnaire.css" />
{% endblock %}


{% block content %}

<div class="feature_comments">
    {% trans "Touch a feature with your mouse to see the comments!" %}
</div>
    
<p>
{% trans "Features originating from the same drawbutton are colored alike. Touch them with your mouse to see the comments!" %}
</p>
{% endblock content %}


{% block extra_js %}
<script src="{{ STATIC_URL }}js/plan.js"></script>
{% endblock extra_js %}
{% block questionnaire_init %}

jQuery(document).ready(function() {
    gnt.questionnaire.init('#forms', '', '#forms', questionnaire_area, data_group, show_feedback );
});
{% endblock questionnaire_init %}



