{% extends "base_map.html"%}
{% load i18n %}

{% block stylesheet %}
{% endblock %}

{% block content %}

<div id="forms">
{% for form in form_list %}
    <h3 class="next section{{ forloop.counter }}">
        <a href="#">{{ form.header }}</a>
    </h3>
    <h3 class="current section{{ forloop.counter }}">
        <a href="#">{{ form.header }}</a>
    </h3>
    <div>
        <form name="{{ form.name }}" action="post">
            <p>{{ form.text }}</p>
            {% for field in form %}
                {{ field }}
            {% endfor %}
        </form>
    </div>
{% endfor %}
</div>
    


{% endblock %}

{% block javascript %}
{% endblock javascript %}

